# Clerk Authentication (https://clerk.com)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Resend Email (https://resend.com)
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@allisonsaccounting.com

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
